target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# 忽略IDE配置文件
.idea/




# 忽略日志文件
logs/
*.log

# 忽略临时文件
*.tmp
*.bak


# 忽略Windows系统文件
Thumbs.db

# 忽略特定工具生成的文件
*.class

# 忽略操作系统或工具自动生成的环境文件
system/
